<%inherit file="/base.html"/>

<%def name="title()">Top SNP Over-representation </%def>

${h.form(h.url_for(), method='get', onsubmit="return handleResponse('%s')"%h.url_for(controller="DisplayTopSNPTestRM", action='showOne', id=None) )}

Type: ${h.select('type_id', 1, options=c.types, prompt='Please Choose ...', onchange="SelectChange('%s', ['type_id'], 'call_method_id'); return false;"%(
	h.url_for(controller="DisplayTopSNPTestRM", action="getCallMethodLsGivenTypeJson", id=None)
	), required=True )}  <br/>

Call Method: ${h.select('call_method_id', selected_values=[], options=c.call_method_ls, onchange="SelectChange('%s', ['type_id', 'call_method_id'], 'phenotype_method_id'); return false;"%(
	h.url_for(controller="DisplayTopSNPTestRM", action="getPhenotypeMethodLsGivenTypeJson", id=None)
	), required=True )}  <br/>

Phenotype Method: ${h.select('phenotype_method_id', selected_values=[], options=[], onchange="SelectChange('%s', ['type_id', 'call_method_id', 'phenotype_method_id'], 'analysis_method_id'); return false;"%(
	h.url_for(controller="DisplayTopSNPTestRM", action="getAnalysisMethodLsGivenTypeAndPhenotypeMethodJson", id=None)
	), required=True)}  <br />

Analysis Method: ${h.select('analysis_method_id', selected_values=[], options=[],
	onchange="SelectChange('%s', ['type_id', 'call_method_id', 'phenotype_method_id', 'analysis_method_id'], 'gene_list_type_id'); return false;"%(
	h.url_for(controller="DisplayTopSNPTestRM", action="getGeneListTypeLsGivenTypeAndPhenotypeMethodAndAnalysisMethodJson", id=None)
	), required=True)}<br />
${h.hidden('results_id', id='results_id')}
Gene List Type: ${h.select('gene_list_type_id', [], options=[], onchange="return handleResponse('%s')"%(h.url_for(controller="DisplayTopSNPTestRM", action='showOne', id=None)),
	required=True )}  <br/>
<!-- ${h.submit('submit', 'Submit')} -->
${h.end_form()}

${self.js()}

<div id="data_region" style="display:none"></div>

<%def name="js()">
	<script src="http://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/connection/connection-min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/json/json-min.js" type="text/javascript"></script>
	<script src="/scripts/form.js"></script>
	<script type="text/javascript">
	
	function handleResponse(url) {
		var callback = {
            success: function(o) {
            	var data_region = YAHOO.util.Dom.get('data_region');
				data_region.innerHTML = o.responseText;
                data_region.style.display = 'block';
             },
            failure: function(o) {
                alert("Failed to retrieve required information.");
            }
        }
		type_id = YAHOO.util.Dom.get('type_id').value;
		list_type_id = YAHOO.util.Dom.get('gene_list_type_id').value;
		results_id = YAHOO.util.Dom.get('results_id').value;
		url = url + '?' + 'id=' + results_id + '&type_id=' + type_id + '&list_type_id='+list_type_id;
		var transaction = YAHOO.util.Connect.asyncRequest('GET', url, callback, null);
		
		//var data_region = document.getElementById('data_region');
		//var message = '<p>Your message has been sent! Thank you.<\/p>'
		//message += '<p><a href="#" onclick="showForm(); return false;">Send another message<\/a><\/p>'
		//data_region.innerHTML = message;
		//data_region.style.display = 'block';
		return false;	<!-- 2008-12-30 return false to prevent form action 'server.html' from being invoked-->
	}
	</script>

</%def>