<%inherit file="/base.html"/>\
<%def name="title()">Greetings</%def>

<h1>Greetings</h1>

<p><b>${c.greeting}</b> ${c.name}!</p>


<p>
<a href=${h.url_for(controller='CallInfo', id=None)} target ="showframe">Check all call methods.</a>
</p>

<p>
<a href=${h.url_for(controller='SNPRegionPlot', id=None)} target ="showframe">View SNP region plots</a>
</p>

<p>
<a href=${h.url_for(controller='ScoreRankHistogram', id=None)} target ="showframe">View Histograms of Score/Rank</a>
</p>

<p>
<a href=${h.url_for(controller='MAFVsScorePlot', id=None)} target ="showframe">View MAF vs Score Plots</a>
</p>

<p>
<a href=${h.url_for(controller='DisplayTopSNPTestRM', id=None)} target ="showframe">Display Candidate Over-representation Data</a>
</p>

<p>
<a href=${h.url_for(controller='DisplayResultsGene', id=None)} target ="showframe">Display Top Candidate Genes in different phenotypes</a>
</p>

<p>
<a href=${h.url_for(controller='DisplayResults', action='form', id=None)} target ="showframe">Display Genome-Wide Association Results</a>
</p>