<%inherit file="/base.html"/>

<%def name="title()">MAF vs Score Plot Summary</%def>

% if len(c.maf_vs_score_summary_ls)>0:
	<table border=1>
	
	<tr>	
	% for table_field in c.maf_vs_score_summary_ls[0].__dict__:
		
		<th>${table_field}</th>
	% endfor
	
	</tr>
	
	% for maf_vs_score_summary in c.maf_vs_score_summary_ls:
		<tr>
		% for table_field in maf_vs_score_summary.__dict__:
			<td>
			% if table_field=='no_of_plots':
				<a href=${h.url_for(controller='MAFVsScorePlot', action='call_method', id=maf_vs_score_summary.call_method_id)}>\
				${maf_vs_score_summary.no_of_plots} plots</a>
			% elif table_field=='call_method_id':
				<a href=${h.url_for(controller='CallInfo', action='call_method', id=maf_vs_score_summary.call_method_id)}>${maf_vs_score_summary.call_method_id}</a>
			% else:
				${getattr(maf_vs_score_summary, table_field, '')}
			% endif
			</td>
		% endfor
		</tr>
	% endfor
	
	
	</table>
% else:
	<p>Nothing in table MAFVsScorePlot.</p>
% endif
